.content{
    margin-top:30px;
    margin-bottom:30px;
}

.profile_image{
    width: 100%;
    height: 250px;
}

.photo{
    width:200px;
    height:200px;
}

img.like{
    width:20px;
    height:20px;
}