
.pagination{
    display:flex;
    justify-content: center;
}

.pagination span{
    padding: 2px 3px;
    border-radius: 5px;
    margin: 7px;
    cursor: pointer;
    background-color:#fff;
}

.pagination span.paginationActive{
    font-weight: bold;
    border: solid 2px black;
}

.buttonPortion{
    padding:6px;
    border-radius:5px;
    background-color:#fff;
    color:black;
    border:none;
    cursor: pointer;
}

@media (max-width:660px){
    .pagination span{
        padding: 2px 3px;
        margin:2px;

    }

    .pagination{
        font-size: 14px;
    }
}