.nav{
  grid-area:n;
  background-color:#7481F8;
  font-size: 25px;
  padding: 30px;
  border-radius: 20px;
}

.nav li{
  list-style-type: none;
}

.nav a{
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

