.content{
    margin-top:30px;
    margin-bottom:30px;
}

.profile_image{
    width: 100%;
    height: 250px;
}

.photoUser{
    width:200px;
    height:200px;
}
.textInfo{

}

.status {
    width:100%;
}
.statusInput{
    width:100%;
}

.statusBlock{
    display:flex;
    width:100%;
}

.commonError{
    padding: 7px;
    border: solid 1px #ff0000;
    color:red;

}

